/*
 * NetworkVisualizer (https://bitbucket.org/netburnerinterns/networkvisualizer)
 * Copyright (c) 2015 by
 *
 * Sam Posner (http://arcadeoftheabsurd.com/)
 * and NetBurner, Inc. (http://www.netburner.com/)
 *
 * Distributed under the BSD 3-Clause License
 * See LICENSE.txt or visit http://opensource.org/licenses/BSD-3-Clause
 */

/* Common */

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: black; 
	color: white;
}

.push, .footer {
	height: 13em; /* '.push' must be the same height as '.footer' */
}

/* Main */

main {
	min-height: 100%;
	margin: 0 auto -13em; /* the bottom margin is the negative value of the footer's height */
}

main header {
	padding: 2vh 0 2vh 0;
	text-align: center;
}

main header h1 {
	font-family: "Arial";
}

main header h3 {
	font-weight: normal;
	font-family: "Courier New";
}

/* Map */

.visualizer-map { 
	margin: 0 auto 2em auto;
}

@media (min-width: 1270px) { .visualizer-map { width:1028px; } }
@media (min-height: 968px) { .visualizer-map { height: 600px; } }

@media (max-width: 1270px) { .visualizer-map { width: 81vw; } }
@media (max-height: 968px) { .visualizer-map { height: 62vh; } }

/* Footer */

.footer {
	text-align: center;
	font-family: "Courier New";
}

.footer .console {
	display: inline-block;
}

.footer .button {
	color: white;
}

.footer .instructions {
	margin-top: 2vh;
	color: darkgray;
}

.footer .file-buttons {
	margin-top: 2vh;
}

.footer .file-buttons .file-input {
	display: none;
}

.footer .credits {
	margin-top: 5vh;
	margin-right: 20px;
	text-align: right;
	float: right;
	color: darkgray;
}

.footer .credits a {
	color: white;
	text-decoration: none;
}

/* Toggle lines Leaflet control */

.toggle-lines-control a {
   background:#fff url(togglelines.png) no-repeat 0 -26px;
   background-size:26px 52px;
}

.toggle-lines-control-on a {
    background-position:0 0;
}
